apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-whishlist-deployment
spec:
  selector:
    matchLabels:
      app: whishlist
  replicas: 1
  template:
    metadata:
     labels:
       app: whishlist
    spec:
     containers:
     - name: shoe
       image: gnishanth444/k8-micro-services:app-whishlist-0.0.2
       ports:
       - containerPort: 5000
         name: whishlist

---
apiVersion: v1
kind: Service
metadata:
  name: whishlist
spec:
  selector:
    app: whishlist
  ports:
   - port: 5000
     targetPort: 5000
  type: ClusterIP

