apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway-deployment
spec:
  selector:
    matchLabels:
      app: apigateway
  replicas: 1
  template:
    metadata:
     labels:
       app: apigateway
    spec:
     containers:
     - name: apigateway
       image: gnishanth444/k8-micro-services:apigateway-0.0.4
       ports:
       - containerPort: 9999

---
apiVersion: v1
kind: Service
metadata:
  name: apigateway-service
spec:
  selector:
    app: apigateway
  ports:
   - port: 9999
     targetPort: 9999
     nodePort: 32470
  type: NodePort
